table {
    margin-top: 20px;
    box-shadow: 10px 16px 18px 12px rgba(0, 0, 0, 0.42);
    overflow: auto;
}

tbody {
    table-layout: fixed;
    max-width: 100% !important;

}

.btn-text-right {
    margin-left: 92%;
    text-align: right;
    margin-bottom: 20px;
    ;
    display: flex;
    width: 40px;
}

.btn-text-right span {
    width: 10px;
}